# Auto detect text files and perform LF normalization
* text=auto
# Language specifiers
*.cs linguist-detectable=true
*.asp linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false